<section class="navBar">      
    <marquee class="slidingBanner"> COVID-19 Alert: There are three simple actions we must all do to keep on protecting each other |
        Wash hands: keep washing your hands regularly |
        Cover face: wear a face covering in enclosed spaces |
        Make space: stay at least 2 metres apart - or 1 metre with a face covering or other precautions. 
        <a href="https://covid19.ncdc.gov.ng/" target="_blank">
            Live Covid-19 Update in Nigeria. Click Here.
        </a>
    </marquee>
        <div class="navBar1">
            <ul class="address">
                <li id="liOne">No. 8, Mobolaji-Ajibola Street, Unity Homes, Lekki-Ajah. +234 806-430-1017</li>
                <li id="liTwo" >We open 24 hours Mon. to Sun.</li>
            </ul>
            <ul class="otherHospitals">
                <li><a href="">Ajah Hospital</a></li>
                | 
                <li><a href="">Egbeda Hospital</a></li>
                |
                <li><a href="">V.I Hospital</a> </li>
                | 
                <li><a href="">FESTAC Hospital</a></li>
            </ul>
        </div>
  </section>

    <section class="bigbox container ">
      
        <div class="box blue">
          <nav class="nav collapsible">
              
            <svg class="icon icon--black nav__toggler">
              <use href="images/sprite.svg#menu"></use>
            </svg>
            <ul class="list nav__list collapsible__content">
              <li class="nav__item">
                <a target="_blank" href="#">Home</a>
              </li>
              <li class="nav__item">
                <a target="_blank" href="#">Who We Are</a>
              </li>
              <li class="nav__item">
                <a target="_blank" href="#">What We Do</a>
              </li>
              <li class="nav__item">
                <a target="_blank" href="#">Prosthethics</a>
              </li>
              <li class="nav__item">
                <a target="_blank" href="#">Virtual Consultation</a>
              </li>
              <li class="nav__item">
                <a target="_blank" href="#">Our Doctors</a>
              </li>
              <li class="nav__item">
                <a target="_blank" href="#">Testimonial</a>
              </li>
              <li class="nav__item">
                <a target="_blank" href="#">Contact Us</a>
              </li>
            </ul>
            
          </nav>
        </div>

        <div class="box red">
          <img  width="30px" height="30px" src="./images/cedarcrest-hospitals-logo-full-color-rgb-1.png" alt="logo">
        </div>
        
        <div class="box green">
          <img  width="30px" height="30px" src="./images/loupe.png" alt="search icon">
        </div>
      
    </section>