<section class="hiddenList">
  <div class="mediaContainer">
    <div class="media">
      <div class="media__img"><img height="30px" width="30px" src="./images/officeicon.png" alt="student icon"></div>
      <div class="media__text">
        <p class="media__text1">Cedarcrest Hospitals are Number 1</p>
        <p class="media__text2">In Nigeria</p>
      </div>
    </div>
    <div class="media">
      <div class="media__img"><img height="30px" width="30px" src="./images/studenticon.jpg" alt="student icon"></div>
      <div class="media__text">
        <p class="media__text1">Proffesional Services</p>
        <p class="media__text2">Qualified Staff</p>
      </div>
    </div>
    <div class="media">
      <div class="media__img"><img height="30px" width="30px" src="./images/thumbsup.png" alt="student icon"></div>
      <div class="media__text">
        <p class="media__text1">State Of The Art Facilities</p>
        <p class="media__text2">Satisfied Patients</p>
      </div>
    </div>
  </div>
    <div class="media email">
      <div class="media__img"><img height="30px" width="30px" src="./images/envelope.jpg" alt="student icon"></div>
      <div class="media__text">
        <p class="media__text1">E-mail:info@cedarcresthospitals.com</p>
    </div>
</section>
