<section class="navBar">      
    <marquee class="slidingBanner"> COVID-19 Alert: There are three simple actions we must all do to keep on protecting each other |
        Wash hands: keep washing your hands regularly |
        Cover face: wear a face covering in enclosed spaces |
        Make space: stay at least 2 metres apart - or 1 metre with a face covering or other precautions. 
        <a href="https://covid19.ncdc.gov.ng/" target="_blank">
            Live Covid-19 Update in Nigeria. Click Here.
        </a>
    </marquee>
        <div class="navBar1">
            <ul class="address">
                <li id="liOne">No. 8, Mobolaji-Ajibola Street, Unity Homes, Lekki-Ajah. +234 806-430-1017</li>
                <li id="liTwo" >We open 24 hours Mon. to Sun.</li>
            </ul>
            <ul class="otherHospitals">
                <li><a href="">Ajah Hospital</a></li>
                | 
                <li><a href="">Egbeda Hospital</a></li>
                |
                <li><a href="">V.I Hospital</a> </li>
                | 
                <li><a href="">FESTAC Hospital</a></li>
            </ul>
        </div>
    </section>