<section class="bigbox container ">
      
    <div class="box blue">
      <nav class="nav collapsible">
          
        <svg class="icon icon--black nav__toggler">
          <use href="images/sprite.svg#menu"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li class="nav__item">
            <a target="_blank" href="#">Home</a>
          </li>
          <li class="nav__item">
            <a target="_blank" href="#">Who We Are</a>
          </li>
          <li class="nav__item">
            <a target="_blank" href="#">What We Do</a>
          </li>
          <li class="nav__item">
            <a target="_blank" href="#">Prosthethics</a>
          </li>
          <li class="nav__item">
            <a target="_blank" href="#">Virtual Consultation</a>
          </li>
          <li class="nav__item">
            <a target="_blank" href="#">Our Doctors</a>
          </li>
          <li class="nav__item">
            <a target="_blank" href="#">Testimonial</a>
          </li>
          <li class="nav__item">
            <a target="_blank" href="#">Contact Us</a>
          </li>
        </ul>
        
      </nav>
    </div>

    <div class="box red">
      <img  width="30px" height="30px" src="./images/cedarcrest-hospitals-logo-full-color-rgb-1.png" alt="logo">
    </div>
    
    <div class="box green">
      <img  width="30px" height="30px" src="./images/loupe.png" alt="search icon">
    </div>
  
</section>
