<section class="navBar2">
    <header>
        <nav class="nav collapsible">
          
          <svg class="icon icon--black nav__toggler">
            <use href="images/sprite.svg#menu"></use>
          </svg>
          <div class="nav__logo">
            <a class="nav__brand"  href="#"
              ><img  title="CEDARCREST HOSPITALS"
              src="images/cedarcrest-hospitals-logo-full-color-rgb-1.png"
              width="100px" height="70px" alt=" cedarcrest logo"
            /></a>
          </div>
        <img width="15px" height="15px" src="./images/loupe.png" alt="search logo" >
          <ul class="list nav__list collapsible__content">
            <li class="nav__item">
              <a target="_blank" href="#">Home</a>
            </li>
            <li class="nav__item">
              <a target="_blank" href="#">Who We Are</a>
            </li>
            <li class="nav__item">
              <a target="_blank" href="#">What We Do</a>
            </li>
            <li class="nav__item">
              <a target="_blank" href="#">Prosthethics</a>
            </li>
            <li class="nav__item">
              <a target="_blank" href="#">Virtual Consultation</a>
            </li>
            <li class="nav__item">
              <a target="_blank" href="#">Our Doctors</a>
            </li>
            <li class="nav__item">
              <a target="_blank" href="#">Testimonial</a>
            </li>
            <li class="nav__item">
              <a target="_blank" href="#">Contact Us</a>
            </li>
          </ul>
          
        </nav>
      </header>
</section>
